{# This is basically the home page #}

{% extends "layout.njk" %}

{% block content %}
    {% include "partials/introduction.njk" %}

    {% include "partials/what-do-i-do.njk" %}

    {% include "partials/skills.njk" %}

{% endblock %}

<script src="scripts/movingText.js"></script>