{# This is basically the home page #}

{% extends "layout.njk" %}

{# <div id="content-wrapper" class="min-h-screen w-full lg:static lg:max-h-full lg:overflow-visible lg:w-3/4 xl:w-4/5 "> #}

    {% block content %}
        {% include "partials/introduction.njk" %}
        {% include "partials/introduction.njk" %}
        {% include "partials/introduction.njk" %}
        {% include "partials/introduction.njk" %}
        {% include "partials/introduction.njk" %}
    {% endblock %}

    <script src="scripts/movingText.js"></script>
{# </div> #}