<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Matt Miller</title>

    <link rel="icon" href="favicon.ico" type="image/png" />
    
    <link href="https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:300" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <main>
        <section class="intro centred">

            <h1 id='name_title'>
                <span>H</span><span>i</span><span>,</span>
                <span>I</span><span>'</span><span>m</span><span>&nbsp;</span><span>M</span><span>a</span><span>t</span><span>t</span>
            </h1>
            <h2>
                I'm a Backend and iOS developer.
            </h2>
            <h2>
                Also a Dungeon Master.
            </h2>
            <h2>
                I'm currently working on my site, I'm sure you're gonna love it!
            </h2>

        </section>

        <div class="centred">
            <h2>
                Skills
            </h2>
            <br>
        </div>
        <div class="skills-container centred">

            <div class="skills-card">
                <div class="card-header centred text-terracotta">
                    <h3>Confident</h3>
                </div>
                <ul class="text-white">
                    <li>NodeJS</li>
                    <li>Swift</li>
                </ul>
            </div>
            <div class="skills-card">
                <div class="card-header centred text-terracotta">
                    <h3>Learning</h3>
                </div>
                <ul class="text-white">
                    <li>PHP 7</li>
                    <li>Browser Javascript</li>
                </ul>
            </div>
            <div class="skills-card">
                <div class="card-header centred text-terracotta">
                    <h3>Past</h3>
                </div>
                <ul class="text-white">
                    <li>Unity3D</li>
                    <li>C#</li>
                    <li>Python 3</li>
                </ul>
            </div>
        </div>

        </div>

    </main>

    {% include "partials/footer.html" %}
</body>

<script src="scripts/movingText.js"></script>

</html>