<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ h.siteName }}</title>

        <link rel="icon" href="favicon.ico" type="image/png"/>

        <link href="https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:300" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/output.css">
    </head>

    <body class="bg-white antialiased">

        {% block header %}
            {% include "partials/header.njk" %}
        {% endblock %}

        <div class="w-full max-w-screen-xl mx-auto px-6">
            <div class="lg:flex -mx-6">

                <div id="sidebar" class="hidden absolute z-90 top-16 bg-white w-full border-b -mb-16 lg:-mb-0 lg:fixed lg:bg-transparent lg:border-b-0 lg:pt-0 lg:w-1/4 lg:block lg:border-0 xl:w-1/5">
                    <div class="lg:block lg:relative lg:fixed lg:top-16">
                        <nav id="nav" class="px-6 pt-6 overflow-y-auto text-base lg:text-sm lg:py-12 lg:pl-6 lg:pr-8 sticky?lg:h-(screen-16)">

                            {% block sidebar %}
                                {% include "partials/sidebar.njk" %}
                            {% endblock %}

                        </nav>
                    </div>
                </div>

                <div id="content-wrapper" class="min-h-screen sm:px-5 md:px-10 lg:px-16 lg:static lg:max-h-full lg:overflow-visible lg:w-3/4 xl:w-4/5">

                    <div id="content">

                        <div id="app" class="flex">
                            <div class="pt-24 pb-8 lg:pt-28 w-full">
                                {% block content %}
                                    {# This could be links to some default content, like a fancy 404 page #}
                                    Nothing to say right now, please come back later!
                                {% endblock %}
                            </div>

                            {# Do we need any script tags for the content? #}

                        </div>

                    </div>

                </div>

            </div>
        </div>

        {% block footer %}
            {% include "partials/footer.njk" %}
        {% endblock %}

    </body>

    {# Move to the intro page #}
    <script src="scripts/movingText.js"></script>

</html>