<footer>
    <!-- Find your icons from here - https://fontawesome.com/icons?d=gallery&s=brands -->
    <div class="icons-social centred">
        <a target="_blank" href="https://github.com/matt123miller">
            <i class="fab fa-github"></i>
        </a>
        <a target="_blank" href="https://twitter.com/matt123miller">
            <i class="fab fa-twitter"></i>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/matt123miller">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
</footer>