{#  Contents of the nav #}
{# The container is already set up in the enclosing block #}

 <nav class="site-nav">
    <a href="#" class="menu-icon">
      <svg viewBox="0 0 18 15">
        <path fill="#424242"
          d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z" />
        <path fill="#424242"
          d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z" />
        <path fill="#424242"
          d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z" />
      </svg>
    </a>
    <div class="trigger">

    </div>
    {# 
    <div class="active">
      <h4>Photon Design</h4>
      <div><a class="page-link" href="/photon/introduction/principles.html">Principles</a>
      </div>
      <div><a class="page-link" href="/photon/introduction/getting-started.html">Getting started</a>
      </div>
      <div><a class="page-link" href="/photon/introduction/design-for-scale.html">Design for Scale</a>
      </div>
      <div><a class="page-link" href="/photon/introduction/design-for-performance.html">Design for Performance</a>
      </div>
      <div><a class="page-link" href="/photon/introduction/design-for-inclusion.html">Design for Inclusion</a>
      </div>
    </div>
    <div>
      <h4>Visuals</h4>
      <div><a class="page-link" href="/photon/visuals/grid.html">Grid</a>
      </div>
      <div><a class="page-link" href="/photon/visuals/typography.html">Typography</a>
      </div>
      <div><a class="page-link" href="/photon/visuals/color.html">Color</a>
      </div>
      <div><a class="page-link" href="/photon/visuals/iconography.html">Iconography</a>
      </div>
      <div><a class="page-link" href="/photon/visuals/illustration.html">Illustration</a>
      </div>
      <div><a class="page-link" href="/photon/visuals/product-identity-assets.html">Product Identity Assets</a>
      </div>
    </div>
    <div>
      <h4>Motion</h4>
      <div><a class="page-link" href="/photon/motion/principles.html">Motion Principles</a>
      </div>
      <div><a class="page-link" href="/photon/motion/duration-and-easing.html">Duration and Easing</a>
      </div>
      <div><a class="page-link" href="/photon/motion/icons.html">Icon Animation</a>
      </div>
    </div>
    <div>
      <h4>Copy</h4>
      <div><a class="page-link" href="/photon/copy/voice-and-tone.html">Voice and Tone</a>
      </div>
      <div><a class="page-link" href="/photon/copy/writing-for-users.html">Writing for Users</a>
      </div>
      <div><a class="page-link" href="/photon/copy/capitalization.html">Capitalization</a>
      </div>
      <div><a class="page-link" href="/photon/copy/punctuation.html">Punctuation</a>
      </div>
      <div><a class="page-link" href="/photon/copy/word-list.html">Word List</a>
      </div>
    </div>
    <div>
      <h4>Patterns</h4>
      <div><a class="page-link" href="/photon/patterns/errors.html">Errors</a>
      </div>
      <div><a class="page-link" href="/photon/patterns/helpers.html">Helpers</a>
        <span class="draft">DRAFT</span>
      </div>
      <div><a class="page-link" href="/photon/patterns/inactive.html">Inactive</a>
      </div>
      <div><a class="page-link" href="/photon/patterns/nesting.html">Nesting</a>
        <span class="draft">DRAFT</span>
      </div>
      <div><a class="page-link" href="/photon/patterns/overlay.html">Overlay</a>
        <span class="draft">DRAFT</span>
      </div>
      <div><a class="page-link" href="/photon/patterns/shadows.html">Shadows</a>
      </div>
      <div><a class="page-link" href="/photon/patterns/warnings.html">Warnings</a>
      </div>
    </div>
    <div>
      <h4>Components</h4>
      <div><a class="page-link" href="/photon/components/buttons.html">Buttons</a>
      </div>
      <div><a class="page-link" href="/photon/components/checkboxes.html">Checkboxes</a>
      </div>
      <div><a class="page-link" href="/photon/components/card.html">Card</a>
        <span class="draft">DRAFT</span>
      </div>
      <div><a class="page-link" href="/photon/components/doorhangers.html">Doorhangers</a>
        <span class="draft">DRAFT</span>
      </div>
      <div><a class="page-link" href="/photon/components/input-fields.html">Input Fields</a>
      </div>
      <div><a class="page-link" href="/photon/components/links.html">Links</a>
      </div>
      <div><a class="page-link" href="/photon/components/message-bars.html">Message Bars</a>
      </div>
      <div><a class="page-link" href="/photon/components/radio-buttons.html">Radio Buttons</a>
      </div>
      <div><a class="page-link" href="/photon/components/tabs.html">Tabs</a>
      </div>
    </div>
    <div>
      <h4>Resources</h4>
      <div><a class="page-link" href="/photon/resources/colors.html">Colors</a>
      </div>
      <div><a class="page-link" href="/photon/resources/icons.html">Icons</a>
      </div>
      <div><a class="page-link" href="/photon/resources/fonts.html">Fonts</a>
      </div>
      <div><a class="page-link" href="/photon/resources/design-tokens.html">Design Tokens</a>
      </div>
    </div>
    </div>
    #}
  </nav>
 
<div class="mb-8">
    <p class="mb-3 lg:mb-2 text-grey uppercase tracking-wide font-bold text-sm lg:text-xs">Blog</p>

    {# Recent posts header here #}

    {# List/loop some recent blog posts #}

    <ul>
        <li class="mb-3 lg:mb-2">
            <a class="hover:underline text-grey-darkest" href="#">post 1</a>
        </li>
        <li class="mb-3 lg:mb-2">
            <a class="hover:underline text-grey-darkest" href="#">post 2</a>
        </li>
        <li class="mb-3 lg:mb-2">
            <a class="hover:underline text-grey-darkest" href="#">post 3</a>
        </li>
    </ul>
</div>