{#  Contents of the nav #}
{# The container is already set up in the enclosing block #}


<div class="p-8 bg-blue-500">
    Contents
</div>

<nav class="site-nav float-left">
    <div class="mb-8 ml-8 mt-8">
        <p class="mb-3 lg:mb-2 text-grey uppercase tracking-wide font-bold text-sm lg:text-xs">Blog</p>

        {# Recent posts header here #}

        {# List/loop some recent blog posts #}

        <ul>
            <li class="mb-3 lg:mb-2">
                <a class="hover:underline text-grey-darkest" href="#">post 1</a>
            </li>
            <li class="mb-3 lg:mb-2">
                <a class="hover:underline text-grey-darkest" href="#">post 2</a>
            </li>
            <li class="mb-3 lg:mb-2">
                <a class="hover:underline text-grey-darkest" href="#">post 3</a>
            </li>
        </ul>
    </div>
</nav>