<div class="centred">
    <h2>
        Skills
    </h2>
    <br>
</div>
<div class="skills-grid centred">

    <div class="skills card padded">
        <div class="centred text-terracotta">
            <h3>Confident</h3>
        </div>
        <ul class="text-white">
            <li>NodeJS</li>
            <li>Swift</li>
        </ul>
    </div>
    <div class="skills card">
        <div class="centred text-terracotta">
            <h3>Learning</h3>
        </div>
        <ul class="text-white">
            <li>PHP 7</li>
            <li>Browser Javascript</li>
        </ul>
    </div>
    <div class="skills card">
        <div class="centred text-terracotta">
            <h3>Past</h3>
        </div>
        <ul class="text-white">
            <li>Unity3D</li>
            <li>C#</li>
            <li>Python 3</li>
        </ul>
    </div>
</div>