body {

    --heading-colour: #0077ff;
    --active-colour: orange;

    --page-margin: 2rem;
    --border-radius: 0.5rem;
}
/* 
@media (prefers-color-scheme: dark) {
    body {
        
    }
} */
body.dark {
    --heading-colour: #3694ff;
}

.background-transition {
    transition: all 0.5s;
}

body {
    text-align: center;
    /* TODO: make sure transition doesn't happen on page load  */
}


main {
    margin: var(--page-margin);
}




.colour-details-container {
    display: grid;
    grid-template-areas: "chosen centre complimentary";
}

.colour-details-container > .chosen {
    grid-area: "chosen";
    max-width: 150px;
    justify-self: right;
    margin-right: 3rem;
}

.colour-details-container > .centre {
    grid-area: "centre";
}

.colour-details-container > .complimentary {
    grid-area: "complimentary";
    max-width: 150px;
}

.filters {
    margin-bottom: 2rem;
}

.filters > :not(:first-child) {
    margin-left: 2rem;
}

.filters input[type="radio"] {
    display: none;
}

.filter-button {
    border-radius: 5px;
    border: var(--text-colour) 2px solid;
    padding: 0.5rem 1rem;
}

.filter-button.active {
    color: var(--bg);
    background: var(--text-colour);
}

/* 
.filter-button:checked {
    border: var(--heading-colour) 2px solid;
}

.filter-button:checked {

} */

input[type="text"] {
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
}


.paint-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paint-search {
    margin-left: auto;
    margin-right: auto;
}

.theme-picker {
    position: absolute;
    right: var(--page-margin);
}

.paint-filter {
    /* come back to this */
}


ul {
    padding-inline-start: 0px;
}

li {
    list-style: none;
    transition: all 0.5s;
}

li:hover {
    transform: scale(1.05);
}

.paint-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;

    justify-items: center;
}

.paint-list > li {
    grid-column: span 1;
    grid-row: span 1;
    border-radius: var(--border-radius);
    min-width: 150px;
}

.paint-container {
    background-color: var(--bg-panel);
    padding-top: 1rem;
}

.paint-pot {
    width: 100%;
}

.paint-name {
    font-size: large;
}

.paint-code {
    margin-bottom: 1rem;
}

.colour-swatch {
    min-height: 100px;
    height: 100%;
    border-radius: var(--border-radius);
    margin-top: 1.5rem;
    border: 1px solid black;
}

.m1 {
    margin: 1rem;
}
.m2 {
    margin: 2rem;
}
.m3 {
    margin: 3rem;
}

.p1 {
    padding: 1rem;
}
.p2 {
    padding: 2rem;
}
.p3 {
    padding: 3rem;
}
