/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

body {
  --accent-colour: #4fd1c5;
  --charcoal: #333333;
  --off-white: #f7fafc;

  --dracula-background : #282A36;
  --dracula-foreground : #F8F8F2;
  --dracula-selection : #44475A;
  --dracula-comment : #6272A4;
  --dracula-red : #FF5555;
  --dracula-orange : #FFB86C;
  --dracula-yellow : #F1FA8C;
  --dracula-green : #50FA7B;
  --dracula-purple : #BD93F9;
  --dracula-cyan : #8BE9FD;
  --dracula-pink : #FF79C6;
}

body {
  background-color: var(--dracula-background);
  color: var(--dracula-foreground);
  user-select: var(--dracula-selection);
}

/* @layer base {
  
} */

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}

a {
  color: var(--dracula-cyan);
}

/* p followed by p, cool stuff */
p + p {
  @apply mt-3;
}

/* hover link effect */
/* Not working on regular a? But does on main-nav-item?!?! */
.animated-link {
  color: var(--dracula-cyan);
  position: relative;
  text-decoration: none;
  transition: 0.5s;
}
.animated-link:hover {
  transition: right .2s cubic-bezier(0,.5,0,1),
              border-color .2s ease-out;
}
.animated-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background: var(--dracula-cyan);
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
.animated-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}


header {
  background-color: var(--dracula-selection);
  border-bottom-color: var(--dracula-comment);
  color: var(--dracula-cyan);
}

footer {
  border-top: 2px solid var(--dracula-selection);
  @apply py-4;
}
.main-nav-item {
  width: max-content;
  @apply relative ml-3 pb-1;
}

.main-nav-item.active {
  border-bottom: 2px solid var(--dracula-cyan);
}

.separator-icon {
  @apply relative w-2 h-8 mb-6 -mt-2;
}

.separator-icon::before {
  content: '';
  background-color: var(--dracula-cyan);
  @apply  h-full w-px absolute left-0;
}

.separator-icon::after {
  content: '';
  background-color: var(--dracula-pink);
  @apply h-6 w-px absolute ml-1;
}


.icon {
  @apply flex items-center justify-center border rounded-full mb-2;
}

.icon-16{
  @apply icon w-16 h-16;
}

.link-card-content {
  background-color: var(--dracula-selection);
  border: 1px solid var(--dracula-cyan);
  @apply flex flex-col my-4 mx-3 p-4  rounded-lg border;
}

.format-html {
    
}