/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

body {
  --accent-colour: #4fd1c5;
  --charcoal: #333333;
}

/* @layer base {
  
} */

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}
a {
  color: var(--accent-colour);
}

/* p followed by p, cool stuff */
p + p {
  @apply mt-3;
}

.separator-icon {
  @apply relative w-2 h-8 mb-6 -mt-2;
}

.separator-icon::before {
  content: '';
  @apply bg-indigo-500 h-full w-px absolute left-0;
}

.separator-icon::after {
  content: '';
  @apply bg-teal-400 h-6 w-px absolute ml-1;
}


/* Almost certainly not needed */
.blog-post-container {
    width: 100%;
}

.format-html {
    
}